
.vs/IsingMonteCarlo/v14/.suo
.vs/IsingMonteCarlo/v15/.suo
*.db
*.ipch
.vs/IsingMonteCarlo/v16/.suo
*.dat
*.aps
*.xml
*.obj
*.log
*.pch
*.pchast
*.tlog
*.idb
*.pdb
*.res
*.exe
*.iobj
*.ipdb
*.lastcodeanalysissucceeded
*.txt
